body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: rgb(90, 80, 80);
}


a {
  color: #4CAF00;
  background-color: transparent;
  text-decoration: none;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  color: #4CAF50;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}